/*
Theme Name: Simple portfolio theme for Wordpress 
Theme URI: https://bitbucket.org/ryju/simple-portfolio-theme-for-wordpress/overview
Author: Bartosz Kostrowiecki
Author URI: https://bitbucket.org/ryju/
Description: The very simple and minimalistic theme developed for a personal use. Less is more.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, white, light, one-column, two-columns, flexible-width, custom-header, featured-images, microformats, rtl-language-support, translation-ready
Text Domain: twentythirteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/** FONTS IMPORT **/
@font-face {
	font-family: 'Montserrat-Regular';
	src: url('fonts/Montserrat-Regular.eot');
	src: local('Montserrat-Regular'), url('fonts/Montserrat-Regular.ttf') format("truetype")
}

@font-face {
	font-family: 'Montserrat-Bold';
	src: url('fonts/Montserrat-Bold.eot');
	src: local('Montserrat-Bold'), url('fonts/Montserrat-Bold.ttf') format("truetype")
}

@font-face {
	font-family: 'Lato-Regular';
	src: url('fonts/Lato-Regular.eot');
	src: local('Lato-Regular'), url('fonts/Lato-Regular.ttf') format("truetype")
}

@font-face {
	font-family: 'Lato-Bold';
	src: url('fonts/Lato-Bold.eot');
	src: local('Lato-Bold'), url('fonts/Lato-Bold.ttf') format("truetype")
}

@font-face {
	font-family: 'Lato-Italic';
	src: url('fonts/Lato-Italic.eot');
	src: local('Lato-Italic'), url('fonts/Lato-Italic.ttf') format("truetype")
}

@font-face {
	font-family: 'Lato-BoldItalic';
	src: url('fonts/Lato-BoldItalic.eot');
	src: local('Lato-BoldItalic'), url('fonts/Lato-BoldItalic.ttf') format("truetype")
}
/** End of FONTS IMPORT **/

body {
	min-width: 460px;
}

.container {
	min-width: 440px;
}

a:active, a:focus, a:hover, a:visited {
	outline: 0 !important;
}

.bg-blue {
	background: #1a76c4;
	color: #fff;
	font-family: 'Lato-Regular';
}

/** PAGE SECTIONS **/
.page-header {
	padding: 15px 10px !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	border-bottom: none !important;
}

.page-headings {
	/*-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
	transition: 1s ease-in-out;*/
}

.page-headings:hover {
	/*-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);*/
}


@media (max-width: 768px) { 
	.page-headings-wrapper {
		text-align: center;
	}
}

.page-content {
	min-height: 400px;
	padding: 10px 10px 30px;
	overflow: hidden;
	font-family: 'Lato-Regular';
}


.page-footer {
	padding: 10px 0;
	font: 16px 'Lato-Regular';
}
/** End of PAGE SECTIONS **/

/** HEADINGS **/
.heading {
	
}

.heading--name {
	display: inline-block;
	float: left;
	margin: 14px 10px;
	font-family: 'Arial';
	font-weight: bold;
	line-height: 1.1;
}

@media (max-width: 768px) { 
	.heading--name {
		display: inline;
		float: none;
		padding: 18px 0 0;
		font-size: 24px;
	}
}

@media (min-width: 768px) and (max-width: 992px) { 
	.heading--name {
		margin-top: 18px;
		font-size: 24px;
	}
}

@media (min-width: 992px) and (max-width: 1200px) { 
	.heading--name {
		margin-top: 16px;
		font-size: 28px;
	} 
}

@media (min-width: 1200px) {
	.heading--name {
		margin-top: 14px;
		font-size: 32px;
	}
}

.heading--tile {
	font: 30px 'Lato-Bold';
}

.heading--page {
	font: 30px 'Lato-Bold';
	margin: 0;
}

.heading--breadcrump {
	padding: 0 20px;
	margin: 20px 0 0;
	font-size: 24px;
}

.heading--single {
	font: 36px 'Lato-Bold';
	margin: 0;
}

/** End of HEADINGS **/

/** LISTS **/
.list {

}

.list--nav {
	position: relative; float: right;
	padding: 0;
	margin-top: 10px;
	display: inline;
	list-style: none inside;
}

.list--nav__elem {
	height: auto;
	float: left;
	padding: 0 !important;
	margin: 0;
	display: inline !important;
}

.list--nav__elem > .active {
	color: #000;
}

/*.list--nav__elem > .active:after {
	content: ' ';
	position: absolute;
	top: 44px;
	width: 51px;
	height: 26px;
	background-image: url('img/testexp.png');
	margin-left: 10px;
	display: block;
}*/

/** End of LISTS **/

/** LINKS **/
.content a {
	-webkit-transition: all 0.3s ease-out !important;
	-moz-transition: all 0.3s ease-out !important;
	-o-transition: all 0.3s ease-out !important;
	transition: all 0.3s ease-out !important;
}

.content a:hover {
	-webkit-transition: all 0.3s ease-in !important;
	-moz-transition: all 0.3s ease-in !important;
	-o-transition: all 0.3s ease-in !important;
	transition: all 0.3s ease-in !important;
}

.link {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.link:hover {
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.link--inner {

}

.link--nav {
	background: #fff;
	color: #c3c3c3;
	font-size: 20px !important;
	font-family: 'Montserrat-Regular';
	text-align: center;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.link--nav:hover {
	color: #ef7a40 !important;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

@media (max-width: 768px) { 
	.link--nav {
		font-size: 20px !important;
	}
}
@media (min-width: 768px) and (max-width: 992px) { 
	.link--nav {
		font-size: 16px !important;
	}
}

@media (min-width: 992px) and (max-width: 1200px) { 
	.link--nav {
		font-size: 18px !important;
	} 
}

@media (min-width: 1200px) {
	.link--nav {
		font-size: 20px !important;
	}
}

.link--footer {
	color: #939393;
}

.link--footer:hover {
	color: #ef7a40;
	text-decoration: none;
}

.link--work-url {
	font-size: 18px;
	color: #fff !important;
	opacity: 0.7;
}

.link--work-url:hover {
	color: #fff !important;
	text-decoration: none !important;
	opacity: 1;
}
/** End of LINKS **/

/** IMAGES **/
.img {

}

.img--header {
	width: 64px;
	height: 64px;
	display: inline;
	float: left;
}

@media (max-width: 768px) { 
	.img--header {
		display: inline;
		float: none;
	}
}

.img--thumbinal {

}

.img-container {

}

.img-container--art {

}

/** End of IMAGES **/

/** ARTICLES **/
.art {
}

.art--tile {
	padding: 0 !important;
	margin: 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 15px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.art--tile:hover .content--tile {
	visibility: visible;
	background: rgba(213, 129, 0, 0.9);
	opacity: 1;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

@media (max-width: 768px) { 
	.art--tile {
		height: 250px !important;
	}
}
@media (min-width: 768px) and (max-width: 992px) { 
	.art--tile {
		height: 320px !important;
	}
}

@media (min-width: 992px) and (max-width: 1200px) { 
	.art--tile {
		height: 300px !important;
	} 
}

@media (min-width: 1200px) {
	.art--tile {
		height: 320px !important;
	}
}

/** End of ARTICLES **/

/** CONTENT **/
.content {
}

.content--tile {
	width: 100%;
	height: 100%;
	padding: 10px 30px !important;
	margin: 0;
	visibility: none;
	overflow: hidden;
	font-family: 'Lato-Bold';
	opacity: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

@media (min-width: 768px) { 
	.content--tile {
		background: rgba(213, 129, 0, 0);
	}
}

@media (max-width: 768px) { 
	.content--tile {
		background: rgba(213, 129, 0, 0.9);
		opacity: 1;
	}
}

.content--tile a {
	color: #fff !important;
	opacity: 0.5;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.content--tile a:hover {
	text-decoration: none;
	opacity: 1;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.content--tile__tags {
	position: absolute;
	bottom: 20px;
	left: 30px;
	right: 30px;
}

.content--tile__tags a {
	padding: 4px 10px 6px;
	margin: 3px;
	background: #1a76c4;
	display: inline;
	opacity: 0.7;
	float: left;
	font: 16px 'Lato-Regular';
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.content--tile__tags a:hover {
	
}

.content--tile__link-container {
	padding: 5px 10px;
	font-size: 18px;
}

.content--tile__link-container a {

}

.content--tile__link-container a:hover {
}

.content--tile__excerpt {
	padding: 10px 10px 15px;
	overflow: hidden;
}

.content--tile p {
	font: 18px 'Lato-Regular';
}

@media (max-width: 768px) { 
	.content--tile p {
		font-size: 16px;
	}
}
@media (min-width: 768px) and (max-width: 992px) { 
	.content--tile p {
		font-size: 16px;
	}
}

.content--page__content a {
	padding: 0px;
	color: #fff;
	opacity: 0.5;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.content--page__content a:hover {
	color: #fff;
	opacity: 1;
	text-decoration: none !important;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.content--page__content p {
	font-size: 16px;
}

.content--page a:hover {
	text-decoration: none;
	opacity: 1;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.content--single__tags {
	margin: 6px 0 0;
	overflow: hidden;
}

.content--single__tags a {
	padding: 4px 10px 6px;
	margin: 3px;
	background: #1a76c4;
	display: inline;
	opacity: 0.7;
	float: left;
	font: 16px 'Lato-Regular';
	color: #fff !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.content--single__tags a:hover {
	opacity: 1;
	color: #fff !important;
	text-decoration: none;
}

.content--single__header {
	margin: 30px 0;
}

@media (max-width: 768px) { 
	.content--single__tags {
		margin: 6px 40px 0 20px;
	}
}

/** End of CONTENT **/

/** POINTER MECHANISM **/
.pointer {
	position: absolute;
	display: none;
}

@media (min-width: 768px) { 
	.pointer {
		top: 44px;
		width: 51px;
		height: 26px;
		/*background-image: url( 'img/testexp.png' );*/
	}
}
/** End of POINTER MECHANISM **/

/** FADE IN MECHANISM **/
.fade-content {
	display: none;
}

.fade-footer {
	display: none;
}

.fade-tile {
	/*display: none;*/
}

/** End of FADE IN MECHANISM **/

.header-container {

}
.content-container {
	color: #fff;
}
.footer-container {

}

.heading-wrapper {
	margin: 0 10px 0;
}

.post-edit-link {
	padding: 4px 20px 6px;
	margin: 3px;
	background: #333;
	display: inline;
	opacity: 0.7;
	font: 16px 'Lato-Regular';
	color: #fff !important;
	position: absolute;
	right: 10px;
	top: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.post-edit-link:hover {
	opacity: 1;
	color: #fff !important;
	text-decoration: none;
}

.font-light {
	color: #fff;
}

.font-dark {
	color: #000;
}

.bg-white {
	background: #fff;
}

.glyphicon--readmore {
	position: relative;
	top: 0 !important;
	font-size: 14px;
}