@media (max-width: 768px) { 
	.col-xs-auto {
		width: auto !important;
	}
}
@media (min-width: 768px) and (max-width: 992px) { 
	.col-sm-auto {
		width: auto !important;
	}
}

@media (min-width: 992px) and (max-width: 1200px) { 
	.col-md-auto {
		width: auto !important;
	} 
}

@media (min-width: 1200px) {
	.col-lg-auto {
		width: auto !important;
	}
}